*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle/
build/

# Android Studio
.idea/
*.hprof

# Log files
*.log

# APKs and binaries
*.apk
*.keystore

